@font-face {
  font-family: 'Nunito';
  src: local('Nunito'),
  url(./fonts/Nunito-VariableFont_wght.ttf) 
  format("truetype");
}

:root {
  --primary-purple: #453C67;
  --secondary-purple: #6D67E4;
  --blue: #46C2CB;
  --yellow: #F2F7A1;
  --text-color-dark: rgb(32,33,36);
  --color-white: rgb(247, 248, 250);
  font-family: Nunito;
}

* {
  box-sizing: border-box;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; 
  background: transparent;
}


body {
  margin: 0;
  min-height: 100vh;
  color: var(--text-color-dark);
  background: var(--color-white);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Nunito,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  display: grid;
  grid-template-rows: 80px minmax(80vh, max-content) 1fr;
  grid-template-areas: 
    "header header header header"
    "main main main main"
    "footer footer footer footer";
}
